workflow/Customer-Success-AI-Automation.json
{
  "name": "CS Automation",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "documentId": {
          "__rl": true,
          "value": "1eWFIftNJssNd8YSbKEoBGJQawyVLQzXPyTm9f3UsPXA",
          "mode": "list",
          "cachedResultName": "Untitled form (Responses)",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1eWFIftNJssNd8YSbKEoBGJQawyVLQzXPyTm9f3UsPXA/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1842195873,
          "mode": "list",
          "cachedResultName": "Form Responses 1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1eWFIftNJssNd8YSbKEoBGJQawyVLQzXPyTm9f3UsPXA/edit#gid=1842195873"
        },
        "event": "rowAdded",
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "1d6b9ab0-ce48-476f-a99c-a144c039a2b1",
      "name": "Google Sheets Trigger",
      "credentials": {
        "googleSheetsTriggerOAuth2Api": {
          "id": "vQy5LNUXTt6X6tWD",
          "name": "Google Sheets Trigger OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "text": "=Customer Name: {{ $json.Name }}\n\nCompany: {{ $json.Company }}\n\nRating: {{ $json[\"Rating\\n(1- Poor, 5- Good)\"] }}\n\nFeedback: {{ $json.Feedback }}\n\nAnalyze the customer feedback as a Customer Success Manager.\n\nUse the rating and feedback together to determine:\n- Sentiment\n- Priority\n- Category\n- Summary\n- Recommended Action\n- Health Score (0-100)\n- Health Status (Healthy, At Risk, Critical)\n- Churn Risk (Low, Medium, High)\n- Escalation (Yes or No)",
        "attributes": {
          "attributes": [
            {
              "name": "Sentiment",
              "description": "Overall sentiment. Return Positive, Neutral, or Negative.",
              "required": true
            },
            {
              "name": "Priority",
              "description": "Return Low, Medium, or High priority.",
              "required": true
            },
            {
              "name": "Category",
              "description": "Return one of: Product, Support, Billing, Feature Request, UX/UI, General.",
              "required": true
            },
            {
              "name": "Summary",
              "description": "Summarize the customer's feedback in one sentence.",
              "required": true
            },
            {
              "name": "Recommended_Action",
              "description": "One action the Customer Success team should take.",
              "required": true
            },
            {
              "name": "Health Score",
              "type": "number",
              "description": "Assign a score between 0 and 100. Consider customer rating, sentiment, tone, and feedback severity. Positive feedback should generally score above 80, neutral between 50 and 79, and negative below 50.",
              "required": true
            },
            {
              "name": "Health Status",
              "description": "Overall customer health. Must be one of: Healthy, At Risk, or Critical",
              "required": true
            },
            {
              "name": "Churn Risk",
              "description": "Likelihood of the customer churning. Must be one of: Low, Medium, or High.",
              "required": true
            },
            {
              "name": "Escalation Required",
              "description": "Whether the feedback requires immediate attention from the Customer Success team. Must be either Yes or No.",
              "required": true
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.informationExtractor",
      "typeVersion": 1.2,
      "position": [
        208,
        0
      ],
      "id": "9acb1c99-2c73-4b4a-bd71-6530205bb39d",
      "name": "Information Extractor",
      "retryOnFail": true
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1.1,
      "position": [
        144,
        208
      ],
      "id": "c57f4bd4-14bb-454a-8771-a5ac41d06bee",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "LMUaGeDypd9H2t9w",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1eWFIftNJssNd8YSbKEoBGJQawyVLQzXPyTm9f3UsPXA",
          "mode": "list",
          "cachedResultName": "Untitled form (Responses)",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1eWFIftNJssNd8YSbKEoBGJQawyVLQzXPyTm9f3UsPXA/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 2036966892,
          "mode": "list",
          "cachedResultName": "AI Analysis (Modify)",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1eWFIftNJssNd8YSbKEoBGJQawyVLQzXPyTm9f3UsPXA/edit#gid=2036966892"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Timestamp": "={{ $('Google Sheets Trigger').item.json.Timestamp }}",
            "Name": "={{ $('Google Sheets Trigger').item.json.Name }}",
            "Email": "={{ $('Google Sheets Trigger').item.json.Email }}",
            "Company": "={{ $('Google Sheets Trigger').item.json.Company }}",
            "Rating": "={{ $('Google Sheets Trigger').item.json[\"Rating\\n(1- Poor, 5- Good)\"] }}",
            "Feedback": "={{ $('Google Sheets Trigger').item.json.Feedback }}",
            "Sentiment": "={{ $json.output.Sentiment }}",
            "Priority": "={{ $json.output.Priority }}",
            "Category": "={{ $json.output.Category }}",
            "Summary": "={{ $json.output.Summary }}",
            "Recommended Action": "={{ $json.output.Recommended_Action }}",
            "Health Score": "={{\n$('Google Sheets Trigger').item.json[\"Rating\\n(1- Poor, 5- Good)\"] * 20\n}}",
            "Health Status": "={{\n$('Google Sheets Trigger').item.json[\"Rating\\n(1- Poor, 5- Good)\"] >= 4 ? \"Healthy\" :\n$('Google Sheets Trigger').item.json[\"Rating\\n(1- Poor, 5- Good)\"] == 3 ? \"Monitor\" :\n\"At Risk\"\n}}",
            "Churn Risk": "={{\n$('Google Sheets Trigger').item.json[\"Rating\\n(1- Poor, 5- Good)\"] >= 4 ? \"Low\" :\n$('Google Sheets Trigger').item.json[\"Rating\\n(1- Poor, 5- Good)\"] == 3 ? \"Medium\" :\n\"High\"\n}}",
            "Escalation Required": "={{\n$('Google Sheets Trigger').item.json[\"Rating\\n(1- Poor, 5- Good)\"] <= 2 ? \"Yes\" : \"No\"\n}}",
            "Assigneed To": "={{ $('Information Extractor').item.json.output.Category === \"Support\" ? \"Support Team\" : $('Information Extractor').item.json.output.Category === \"Product\" ? \"Product Team\" : $('Information Extractor').item.json.output.Category === \"UX/UI\" ? \"Design Team\" : $('Information Extractor').item.json.output.Category === \"Billing\" ? \"Finance Team\" : $('Information Extractor').item.json.output.Category === \"Account\" ? \"Customer Success Team\" : \"Customer Success Team\" }}",
            "Status": "={{\n$('Information Extractor').item.json.output.Priority === \"High\" ? \"Open\" :\n$('Information Extractor').item.json.output.Priority === \"Medium\" ? \"In Progress\" :\n$('Information Extractor').item.json.output.Priority === \"Low\" ? \"Closed\" :\n\"Open\"\n}}",
            "Last Contact Date": "={{ new Date().toISOString().split('T')[0] }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Timestamp",
              "displayName": "Timestamp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Name",
              "displayName": "Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Company",
              "displayName": "Company",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Rating",
              "displayName": "Rating",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Feedback",
              "displayName": "Feedback",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Sentiment",
              "displayName": "Sentiment",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Priority",
              "displayName": "Priority",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Category",
              "displayName": "Category",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Summary",
              "displayName": "Summary",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Recommended Action",
              "displayName": "Recommended Action",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Health Score",
              "displayName": "Health Score",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Health Status",
              "displayName": "Health Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Churn Risk",
              "displayName": "Churn Risk",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Escalation Required",
              "displayName": "Escalation Required",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Assigneed To",
              "displayName": "Assigneed To",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Last Contact Date",
              "displayName": "Last Contact Date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        560,
        0
      ],
      "id": "b15f1f29-bc35-4803-9d8f-69f2e3afab98",
      "name": "Append row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "yYo7yjsTDTMXfCmp",
          "name": "Google Sheets OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.Sentiment }}",
                    "rightValue": "Positive",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "27c128f1-6377-4e83-b1c6-086295021cef"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Positive"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "33661fd0-631f-4b15-9495-5968f2181162",
                    "leftValue": "={{ $json.Sentiment }}",
                    "rightValue": "Neutral",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Neutral"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "4c80ff2e-802b-42fd-8941-522add793ad7",
                    "leftValue": "={{ $json.Sentiment }}",
                    "rightValue": "Negative",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Negative"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        768,
        -16
      ],
      "id": "9eb99cc9-87c7-4b50-9beb-73ba9a5692f6",
      "name": "Switch"
    },
    {
      "parameters": {
        "sendTo": "={{ $('Google Sheets Trigger').item.json.Email }}",
        "subject": "Thank you for your feedback!",
        "message": "=<p>Hi {{ $('Google Sheets Trigger').item.json.Name }},</p>\n\n<p>Thank you for your wonderful feedback!</p>\n\n<p>We're delighted to know that you had a positive experience with us. Feedback like yours motivates our team to continue delivering exceptional service.</p>\n\n<p><strong>Feedback Summary:</strong><br>\n{{ $('Information Extractor').item.json.output.summary }}\n</p>\n\n<p>We truly appreciate your support and look forward to serving you again.</p>\n\n<p>Kind regards,<br>\nCustomer Success Team</p>",
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        1152,
        -144
      ],
      "id": "db697c0c-08bc-435d-ba1b-97fb7e744483",
      "name": "Positive Mail",
      "webhookId": "152c919c-5c75-4965-bc9d-c875bdebb836",
      "credentials": {
        "gmailOAuth2": {
          "id": "CjP1Am7THRhdxcCp",
          "name": "Gmail OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "={{ $('Google Sheets Trigger').item.json.Email }}",
        "subject": "Thank you for your feedback!",
        "message": "=<p>Hi {{ $('Google Sheets Trigger').item.json.Name }},</p>\n\n<p>Thank you for taking the time to share your feedback with us.</p>\n\n<p>We appreciate your suggestions and are always looking for ways to improve the customer experience.</p>\n\n<p><strong>Feedback Summary:</strong><br>\n{{ $('Information Extractor').item.json.output.summary }}\n</p>\n\n<p>Your comments have been shared with the relevant team for review and consideration.</p>\n\n<p>We truly value your input and hope to serve you even better in the future.</p>\n\n<p>Kind regards,<br>\nCustomer Success Team</p>",
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        1152,
        16
      ],
      "id": "4c8b2e82-df3a-440e-8e64-7782b7986e36",
      "name": "Neutral Mail",
      "webhookId": "f0ee24c8-5524-4996-bca8-05d3aedfcf55",
      "credentials": {
        "gmailOAuth2": {
          "id": "CjP1Am7THRhdxcCp",
          "name": "Gmail OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "={{ $('Google Sheets Trigger').item.json.Email }}",
        "subject": "We appreciate your feedback and we're here to help",
        "message": "=<p>Hi {{ $('Google Sheets Trigger').item.json.Name }},</p>  <p>Thank you for taking the time to share your feedback.</p>  <p>We're sorry to hear that your recent experience did not meet your expectations. We sincerely appreciate you bringing this to our attention.</p>  <p><strong>Feedback Summary:</strong><br> {{ $('Information Extractor').item.json.output.summary }} </p>  <p>Our Customer Success team has already been notified and will reach out shortly to better understand your concerns and work toward a resolution.</p>  <p>Your feedback is extremely valuable to us and helps us improve our products and services.</p>  <p>Kind regards,<br> Customer Success Team</p>",
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        1152,
        208
      ],
      "id": "d9076dde-10f1-4cbe-af40-c3205468934e",
      "name": "Negative Mail",
      "webhookId": "1256054d-90b5-4987-919e-5b0e86057e31",
      "credentials": {
        "gmailOAuth2": {
          "id": "CjP1Am7THRhdxcCp",
          "name": "Gmail OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "select": "channel",
        "channelId": {
          "__rl": true,
          "value": "C0BF46RJDS9",
          "mode": "list",
          "cachedResultName": "all-customer-success"
        },
        "text": "=🚨 High Priority Customer Feedback  Customer: {{ $('Google Sheets Trigger').item.json.Name }} Company: {{ $('Google Sheets Trigger').item.json.Company }}  Sentiment: {{ $('Append row in sheet').item.json.Sentiment }} Priority: {{ $('Append row in sheet').item.json.Priority }} Category: {{ $('Append row in sheet').item.json.Category }}  Summary: {{ $('Append row in sheet').item.json.Summary }}  Recommended Action: {{ $('Append row in sheet').item.json[\"Recommended Action\"] }}  Assigned To: {{ $('Append row in sheet').item.json[\"Assigned To\"] }}",
        "otherOptions": {}
      },
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.5,
      "position": [
        1168,
        384
      ],
      "id": "4fb4c331-255c-47c1-b262-71ff09396569",
      "name": "Slack Notification",
      "webhookId": "5b3c0a4f-488f-4268-97da-f567ec423897",
      "credentials": {
        "slackOAuth2Api": {
          "id": "sEP1xi9MCxNwB03S",
          "name": "Slack OAuth2 API"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Google Sheets Trigger": {
      "main": [
        [
          {
            "node": "Information Extractor",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Information Extractor",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Information Extractor": {
      "main": [
        [
          {
            "node": "Append row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append row in sheet": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Positive Mail",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Neutral Mail",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Negative Mail",
            "type": "main",
            "index": 0
          },
          {
            "node": "Slack Notification",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "0e10ad31-8f9a-40bb-825b-f060fe8c82ae",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "36693e92b507f8224e239c45a3649125b9ea302c95dd815aeee87d54517e906d"
  },
  "nodeGroups": [],
  "id": "6h8eupUN7pIXzuFw",
  "tags": []
}